<section
  id="alliance-members"
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#BBD2FE]"
>
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-12 tablet:space-y-20">
          <h3 class="font-mono text-2xs tablet:text-sm uppercase">
            Our Partners
          </h3>
          <div class="">
            <p class="text-md">
              MADA is a collaboration of over 10 local and regional partners who
              serve Santa Fe and the Northern New Mexico community through arts,
              design, culture, education, multimedia, creative entrepreneurship
              and technology. Each organization has a different mission but we
              are aligned in supporting and uplifting Santa Fe’s creative and
              cultural community.
            </p>
            <a
              href="/partners"
              class="mt-10 font-mono uppercase text-2xs tablet:text-sm inline-block w-full tablet:w-auto py-4 px-14 tablet:px-24 text-center rounded-md no-underline hover:underline bg-black text-white"
              >Our Partners</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
