<section
  id="about"
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#F9F2EA]"
>
  <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
    <div class="col-span-4 tablet:col-span-12">
      <div class="space-y-12 tablet:space-y-16">
        <h3 class="font-mono text-md tablet:text-lg">What is MADA?</h3>
        <p class="text-2xl tablet:text-4xl font-black">
          The Midtown Arts and Design Alliance (MADA) is an experimental model
          for self-governance, co-programming, and resource-sharing between
          creative and cultural communities in Santa Fe’s Midtown.
        </p>
      </div>
    </div>
  </div>
</section>
