<section
  id="about"
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#F9F2EA]"
>
  <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
    <div class="col-span-4 tablet:col-span-12">
      <div class="space-y-12 tablet:space-y-16">
        <h3 class="font-mono text-caption-mobile tablet:text-caption uppercase">
          What is MADA?
        </h3>
        <p class="text-heading-mobile tablet:text-heading font-black">
          The Midtown Arts and Design Alliance (MADA) is a bold model for
          creative and cultural communities to share governance, programming,
          and resources in Santa Fe’s Midtown.
        </p>

        {% include video.html %}
      </div>
    </div>
  </div>
</section>
