<section
  id="about"
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#F9F2EA]"
>
  <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
    <div class="col-span-4 tablet:col-span-12">
      <div class="space-y-12 tablet:space-y-16">
        <h3 class="font-mono text-caption-mobile tablet:text-caption uppercase">
          What is MADA?
        </h3>
        <p class="text-heading-mobile tablet:text-heading font-black">
          The Midtown Arts and Design Alliance (MADA) is a community cultural
          center in Santa Fe that will provide affordable space and accessible
          programming to creative practitioners and culture bearers of all ages.
        </p>

        {% include video.html %}

        <p>
          <strong>📰 In the News:</strong>&nbsp;&nbsp;
          <a
            href="https://www.santafenewmexican.com/news/local_news/group-of-nonprofits-drawing-up-city-agreement-for-visual-arts-center-at-midtown/article_fe453b42-cd07-11ef-aad9-87724dd4442e.html"
            >Group of nonprofits drawing up city agreement for visual arts
            center at midtown</a
          >
          | Santa Fe New Mexican
        </p>
      </div>
    </div>
  </div>
</section>
