<section
  id="alliance-members"
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#BBD2FE]"
>
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-12 tablet:space-y-20">
          <h3 class="font-mono text-2xs tablet:text-sm uppercase">
            Our Partners
          </h3>
          <p>
            MADA is a collaboration of over 10 local and regional partners who
            serve Santa Fe and the Northern New Mexico community through arts,
            design, culture, education, multimedia, creative entrepreneurship
            and technology. Each organization has a different mission but we are
            aligned in supporting and uplifting Santa Fe’s creative and cultural
            community.
          </p>
          <div class="accordion">
            {% for item in site.data.partners %}
            <div
              class="card py-8 border-t-[1px] border-black cursor-pointer tablet-lg:py-9 group relative"
            >
              <div class="absolute left-0 flex items-center justify-start w-8">
                <span class="text-xs tablet-lg:text-md font-normal text-right"
                  >+</span
                >
              </div>
              <div class="pl-16 tablet-lg:px-28 space-y-6 tablet-lg:space-y-8">
                <h4
                  class="text-xs tablet-lg:text-md group-hover:underline group-hover:underline-offset-4"
                >
                  <span>{{ item.title }}</span>
                </h4>
                <p
                  class="text-2xs tablet-lg:text-sm font-mono {% unless forloop.first %}hidden{% endunless %}"
                >
                  {{ item.desc }}
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
