<section id="alliance-members" class="bg-[#BBD2FE]">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="">
          <h3 class="text-xl font-bold pb-6">Current Alliance Members</h3>
          <div class="accordion">
            <div class="card py-9 active">
              <div>
                <h4 class="text-xl pb-2"><span>CENTER Santa Fe</span></h4>
                <p class="text-md font-mono">
                  Founded in Santa Fe, New Mexico, in 1994, CENTER is a
                  nonprofit that supports socially and environmentally engaged
                  lens-based projects through education, public platforms,
                  funding, and partnerships.
                </p>
              </div>
            </div>
            <div class="card py-9">
              <div>
                <h4 class="text-xl"><span>Creative Startups</span></h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-9">
              <div>
                <h4 class="text-xl"><span>Girls, Inc</span></h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-3">
              <div>
                <h4 class="text-xl"><span>Littleglobe</span></h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-3">
              <div>
                <h4 class="text-xl"><span>MAKE Santa Fe</span></h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-3">
              <div>
                <h4 class="text-xl"><span>MASS Design Group</span></h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-3">
              <div>
                <h4 class="text-xl"><span>Santa Fe Indigenous Center</span></h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-3">
              <div>
                <h4 class="text-xl"><span>STEAM New Mexico</span></h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-3">
              <div>
                <h4 class="text-xl">
                  <span> University of New Mexico College of Fine Arts </span>
                </h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-3">
              <div>
                <h4 class="text-xl">
                  <span>
                    Univ. New Mexico School of Architecture and Planning
                  </span>
                </h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-3">
              <div>
                <h4 class="text-xl"><span>Vital Spaces</span></h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-3">
              <div>
                <h4 class="text-xl"><span>YouthWorks</span></h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
