<section id="slides" class="p-0 bg-[#000000] text-white">
  <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
    <div
      class="col-span-4 tablet:col-span-12 tablet-lg:col-span-6 order-last tablet-lg:order-first"
    >
      <div
        class="py-5 px-5 pb-20 tablet:py-10 tablet:px-10 tablet:pb-24 desktop:py-24 desktop:px-28 desktop-lg:py-32 desktop-lg:px-36 space-y-8"
      >
        <div class="space-y-8">
          <h3 class="font-black text-body-bold-mobile tablet:text-body-bold">
            Listening to Community Needs
          </h3>
          <div class="space-y-6">
            <p class="font-mono text-caption-mobile tablet:text-caption">
              “Economic factors like housing and studio space make it difficult
              for young artists to thrive. MADA can address these issues by
              providing affordable workspace and fostering a creative
              community.”
            </p>
            <cite class="font-mono text-caption-mobile tablet:text-caption"
              >— MADA Member
            </cite>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-span-4 tablet:col-span-12 tablet-lg:col-span-6 order-first tablet-lg:order-last"
    >
      <div
        class="py-5 px-5 tablet:py-10 tablet:px-10 desktop:py-24 desktop:px-28 desktop-lg:py-32 desktop-lg:px-36 space-y-8"
      >
        <img
          src="{{ '/assets/media/community.png' | relative_url }}"
          alt="A rendering of a future MADA outdoor space"
        />
      </div>
    </div>
  </div>
</section>
