<section
  id="donate"
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#000000]"
>
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-8">
          <p class="text-4xl text-white font-black">
            <span>Help us ensure this vision is realized.</span> Donate to our
            2024 $5m fundraising goal.
          </p>
          <a
            href="#"
            class="btn btn-pink font-mono inline-block w-full tablet:w-auto"
            >Pledge Your Support</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
