<section
  id="email"
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#000000]"
>
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-8">
          <p class="text-4xl text-white font-black">
            <span class="text-[#fa8368] block"
              >Follow our journey to make MADA a reality!</span
            >
            Sign up for email updates.
          </p>
          <a
            href="https://airtable.com/appqw8aswti0sLc5B/shrYudmooE37pTNtB"
            class="btn btn-pink font-mono inline-block w-full tablet:w-auto"
            >Sign-up</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
