<section
  id="focus"
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#F9F2EA]"
>
  <div class="max-w-full px-0 space-y-24">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-14">
          <h3 class="text-lg font-mono pb-6">Our Focus Areas</h3>
          <div class="accordion">
            <div class="card py-9 active">
              <div>
                <h4 class="text-xl pb-2">
                  <span>Revitalization and Equitable Development </span>
                </h4>
                <p class="text-md font-mono">
                  Using a mixed-income model and community-based strategies, we
                  will prioritize deeper resources and leadership development of
                  our local creative ecosystem.
                </p>
              </div>
            </div>
            <div class="card py-9">
              <div>
                <h4 class="text-xl">
                  <span>World-Class Community Arts & Design Programming</span>
                </h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-9">
              <div>
                <h4 class="text-xl">
                  <span>Resource Sharing & Cross-Org Collaboration</span>
                </h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-9">
              <div>
                <h4 class="text-xl">
                  <span>Education, Youth & Child Development</span>
                </h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-9">
              <div>
                <h4 class="text-xl">
                  <span>Workforce & Enterprise Development</span>
                </h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
            <div class="card py-9">
              <div>
                <h4 class="text-xl">
                  <span
                    >Regenerative, Holisitic, & Healthy Design Operations</span
                  >
                </h4>
                <p class="text-md font-mono">TKTK</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <img
          src="{{ '/assets/media/graphic.png' | relative_url }}"
          alt="TKTK"
        />
      </div>
    </div>
  </div>
</section>
