<h3 class="text-xl font-bold pb-6">Our Focus</h3>
<div class="accordion">
  <div class="card py-3 active">
    <h4 class="text-xl pb-2">
      <span>Revitalization and Equitable Development </span>
    </h4>
    <p class="text-md">
      Using a mixed-income model and community-based strategies, we will
      prioritize deeper resources and leadership development of our local
      creative ecosystem.
    </p>
  </div>
  <div class="card py-3">
    <h4 class="text-xl">
      <span>World-Class Community Arts & Design Programming</span>
    </h4>
    <p class="text-md">TKTK</p>
  </div>
  <div class="card py-3">
    <h4 class="text-xl">
      <span>Resource Sharing & Cross-Org Collaboration</span>
    </h4>
    <p class="text-md">TKTK</p>
  </div>
  <div class="card py-3">
    <h4 class="text-xl"><span>Education, Youth & Child Development</span></h4>
    <p class="text-md">TKTK</p>
  </div>
  <div class="card py-3">
    <h4 class="text-xl"><span>Workforce & Enterprise Development</span></h4>
    <p class="text-md">TKTK</p>
  </div>
  <div class="card py-3">
    <h4 class="text-xl">
      <span>Regenerative, Holisitic, & Healthy Design Operations</span>
    </h4>
    <p class="text-md">TKTK</p>
  </div>
</div>
