<section
  id="focus"
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#F9F2EA]"
>
  <div class="max-w-full px-0 space-y-24">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-14">
          <h3 class="text-lg font-mono pb-6">Our Focus</h3>
          <div class="accordion">
            <div class="card py-9 active">
              <div>
                <h4 class="text-xl pb-2">
                  <span>Community Connections</span>
                </h4>
                <p class="text-md font-mono">
                  To create the first creative hub of its kind for Santa Fe,
                  bridging the north and south sides.
                </p>
              </div>
            </div>
            <div class="card py-9">
              <div>
                <h4 class="text-xl">
                  <span>Affordable Space & Programs</span>
                </h4>
                <p class="text-md font-mono">
                  To offer affordable arts and culture programs to 30,000+
                  residents and visitors annually, including studios, galleries,
                  maker spaces, performance sites, event venues, and communal
                  areas that welcome everyone.
                </p>
              </div>
            </div>
            <div class="card py-9">
              <div>
                <h4 class="text-xl">
                  <span>Art as Social Change</span>
                </h4>
                <p class="text-md font-mono">
                  To invest in art, design, and advocacy as a force for justice
                  and equity.
                </p>
              </div>
            </div>
            <div class="card py-9">
              <div>
                <h4 class="text-xl">
                  <span>Workforce Development</span>
                </h4>
                <p class="text-md font-mono">
                  To combine creative practice with education, impactful social
                  services, apprenticeship and career pathways, and connect New
                  Mexico with creative practitioners from around the world.
                </p>
              </div>
            </div>
            <div class="card py-9">
              <div>
                <h4 class="text-xl">
                  <span>Greater Midtown Partner</span>
                </h4>
                <p class="text-md font-mono">
                  To complement and harmonize with the City’s master plan for
                  the 60 acres of campus beyond.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <img
          src="{{ '/assets/media/graphic.png' | relative_url }}"
          alt="TKTK"
        />
      </div>
    </div>
  </div>
</section>
