<footer
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#000000]"
>
  <div class="max-w-full px-0 space-y-28">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0 gap-x-10">
      <div class="col-span-4 tablet:col-span-6">
        <div class="space-y-10 text-white">
          <h3 class="">The Midtown Arts District</h3>
          <p class="text-xl text-white font-mono">
            <span class="text-blue"
              >is dedicated to expanding upon Santa Fe's rich histories and
              diverse cultural narratives, solidifying its status as a
              globally-recognized creative center and protected heritage site of
              cultural convergence.</span
            >
          </p>
        </div>
      </div>
      <div class="col-span-4 tablet:col-span-6">
        <div class="space-y-10 text-white">
          <h3 class="">MADA (Midtown Art District Alliance)</h3>
          <p class="text-xl text-white font-mono">
            <span class="text-pink"
              >is a creative nexus that will serve as an extension of our
              collective stories, reaching from the historic Plaza and Canyon
              Road to newcomer communities across the city. It will encapsulate
              the full breadth of creativity, talent, and innovation present in
              Santa Fe.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-6">
        <div class="madalliance"><span>MADA</span>lliance</div>
      </div>
    </div>
  </div>
</footer>

<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{{ '/assets/js/custom.js' | relative_url }}"></script>
