<footer
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#000000]"
>
  <div class="space-y-20">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-10">
          <h3
            class="pt-4 text-white text-body-bold-mobile tablet:text-body-bold font-black border-t-[1px] border-white"
          >
            MADA
          </h3>

          <div
            class="grid grid-cols-4 tablet:grid-cols-12 gap-0 gap-y-10 tablet:gap-x-10"
          >
            <div class="col-span-4 tablet:col-span-12 tablet-lg:col-span-6">
              <div class="space-y-10 text-white">
                <p
                  class="text-caption-mobile tablet:text-caption text-[#bbd2fe] font-mono"
                >
                  The Midtown Arts and Design Alliance (MADA) is a creative
                  nexus that will serve as an extension of our collective
                  stories, as a place of belonging and potential for emerging
                  and excluded voices.
                </p>
              </div>
            </div>
            <div class="col-span-4 tablet:col-span-12 tablet-lg:col-span-6">
              <div class="space-y-10 text-white">
                <p
                  class="text-caption-mobile tablet:text-caption text-[#bbd2fe] font-mono"
                >
                  Building upon Santa Fe’s status as a globally recognized site
                  of cultural convergence, MADA is dedicated to expanding the
                  full breadth of creativity, talent, and innovation present in
                  Santa Fe through creative cultural exchange.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div
          class="madalliance text-[#fa8368] text-center font-semibold text-[12vw]"
        >
          <span class="text-[#bbd2fe]">MADA</span>lliance
        </div>
      </div>
    </div>
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <p class="text-[12px] font-normal text-[#6D6767]">
          © SANTA FE ART INSTITUTE 2024
        </p>
      </div>
    </div>
  </div>
</footer>

<!-- scripts -->
<script src="{{ '/assets/js/custom.js' | relative_url }}"></script>
