<section class="goals bg-[#BBD2FE] py-0">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-6">
        <div class="px-6 py-16">
          <h3 class="text-xl font-bold pb-6">Our Impact Goals</h3>
        </div>
      </div>
      <div class="col-span-4 tablet:col-span-6">
        <div class="px-6 py-16">
          <p class="text-md font-normal leading-snug">
            Our mission and goals stem from extensive community engagement and
            collaboration spanning five years, where local residents and artists
            have contributed ideas, hopes, and recommendations that underpin our
            ambitions. Reach out if you want to get involved or have ideas on
            ways to measure positive impact.
          </p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-3">
        <div class="goal px-6 pt-16 pb-4">
          <div class="number">01</div>
          <h4 class="text-xl font-bold pb-6">Cultural Goals</h4>
          <p>
            To bring together Santa Fe’s north and south sides through a
            creative nexus
          </p>
          <img
            src="https://placekitten.com/400/300"
            alt="TKTK"
            style="
              filter: grayscale(100%) contrast(120%) brightness(90%);
              background-color: #bbd2fe;
            "
          />
        </div>
      </div>
      <div class="col-span-4 tablet:col-span-3">
        <div class="goal px-6 pt-16 pb-4">
          <div class="number">02</div>
          <h4 class="text-xl font-bold">Economic Goal</h4>
          <p>
            To bridge creative practice with education and career pathways for
            people of all ages
          </p>
          <img
            src="https://placekitten.com/400/300"
            alt="TKTK"
            style="
              filter: grayscale(100%) contrast(120%) brightness(90%);
              background-color: #bbd2fe;
            "
          />
        </div>
      </div>
      <div class="col-span-4 tablet:col-span-3">
        <div class="goal px-6 pt-16 pb-4">
          <div class="number">03</div>
          <h4 class="text-xl font-bold pb-6">Community Goal</h4>
          <p>
            To connect Northern New Mexico with artists and creative
            practitioners globally
          </p>
          <img
            src="https://placekitten.com/400/300"
            alt="TKTK"
            style="
              filter: grayscale(100%) contrast(120%) brightness(90%);
              background-color: #bbd2fe;
            "
          />
        </div>
      </div>
      <div class="col-span-4 tablet:col-span-3">
        <div class="goal px-6 pt-16 pb-4">
          <div class="number">04</div>
          <h4 class="text-xl font-bold pb-6">City Goal</h4>
          <p>
            To ensure Santa Fe’s relevance as a cultural and creative mecca for
            generations to come
          </p>
          <img
            src="https://placekitten.com/400/300"
            alt="TKTK"
            style="
              filter: grayscale(100%) contrast(120%) brightness(90%);
              background-color: #bbd2fe;
            "
          />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-6">
        <div class="px-12 py-16">{% include focus.html %}</div>
      </div>
      <div class="col-span-4 tablet:col-span-6">
        <div class="px-12 py-16">TKTK</div>
      </div>
    </div>
  </div>
</section>
