<section
  id="goals"
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#FFFFFF]"
>
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-14">
          <h3 class="font-mono text-lg">Our Impact Goals</h3>
          <p class="text-4xl font-black">
            When complete, MADA will serve as a new arts center that expands the
            story we can tell about art, culture, and creativity in our city.
            <span class="text-[#fa8368] block"
              >Reach out if you want to get involved or have ideas on ways to
              measure positive impact.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="pt-28">
      <div class="grid grid-cols-4 tablet:grid-cols-12 gap-y-28 gap-x-10">
        <div class="col-span-4 tablet:col-span-6">
          <div class="goal flex pt-6">
            <div class="flex flex-col justify-between">
              <div>
                <div class="number">01</div>
                <h4 class="text-xl font-bold pb-6">Cultural Goals</h4>
              </div>
              <p class="font-mono">
                To bring together Santa Fe’s north and south sides through a
                creative nexus
              </p>
            </div>
            <img
              src="{{ '/assets/media/temp.png' | relative_url }}"
              alt="TKTK"
            />
          </div>
        </div>
        <div class="col-span-4 tablet:col-span-6">
          <div class="goal flex pt-6">
            <div class="flex flex-col justify-between">
              <div>
                <div class="number">02</div>
                <h4 class="text-xl font-bold">Economic Goal</h4>
              </div>
              <p class="font-mono">
                To bridge creative practice with education and career pathways
                for people of all ages
              </p>
            </div>
            <img
              src="{{ '/assets/media/temp.png' | relative_url }}"
              alt="TKTK"
            />
          </div>
        </div>
        <div class="col-span-4 tablet:col-span-6">
          <div class="goal flex pt-6">
            <div class="flex flex-col justify-between">
              <div>
                <div class="number">03</div>
                <h4 class="text-xl font-bold pb-6">Community Goal</h4>
              </div>
              <p class="font-mono">
                To provide accessible, all-ages programming that celebrates our
                multicultural community
              </p>
            </div>
            <img
              src="{{ '/assets/media/temp.png' | relative_url }}"
              alt="TKTK"
            />
          </div>
        </div>
        <div class="col-span-4 tablet:col-span-6">
          <div class="goal flex pt-6">
            <div class="flex flex-col justify-between">
              <div>
                <div class="number">04</div>
                <h4 class="text-xl font-bold pb-6">City Goal</h4>
              </div>
              <p class="font-mono">
                To ensure Santa Fe’s relevance as a cultural and creative mecca
                for generations to come
              </p>
            </div>
            <img
              src="{{ '/assets/media/temp.png' | relative_url }}"
              alt="TKTK"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
