<section id="join" class="bg-[#ffffff]">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-10">
        <div class="space-y-8">
          <p class="">
            Interested in joining the alliance and taking part in shaping Santa
            Fe’s next chapter? We’re taking applications for organizational
            partners and co-residents. Reach out for more details.
          </p>
          <a href="#" class="btn btn-dark font-mono inline-block">Apply</a>
        </div>
      </div>
    </div>
  </div>
</section>
