<section
  id="join"
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#ffffff]"
>
  <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
    <div class="col-span-4 tablet:col-span-10">
      <div class="space-y-16 tablet:space-y-20">
        <p class="text-body-mobile tablet:text-body">
          Interested in learning more about MADA and taking part in shaping
          Santa Fe’s next chapter? We want to hear from you!
        </p>
        <a
          href="https://airtable.com/appqw8aswti0sLc5B/shr8fz6mYSsfSl0Ik"
          class="font-mono uppercase text-caption-mobile tablet:text-caption inline-block w-full tablet:w-auto py-4 px-14 tablet:px-24 text-center rounded-md no-underline hover:underline bg-black text-white"
          >Share your perspective</a
        >
      </div>
    </div>
  </div>
</section>
