<header
  id="header"
  class="relative bg-[#fa8368] transform transform-origin-top-left scale-100"
>
  <div class="relative z-20 flex flex-col items-center justify-between h-full">
    <h1
      class="z-10 py-10 pb-2 pt-20 tablet:p-10 w-full font-black text-body-bold-mobile tablet:text-body-bold text-center tablet:text-left"
    >
      <a
        class="no-underline hover:underline underline-offset-4"
        href="{{ site.baseurl }}/"
        accesskey="1"
        title="MADA Home"
        aria-label="{{ site.title }}"
      >
        {{ site.title }}
      </a>
    </h1>
    <div
      id="mada"
      class="h-full w-full flex items-center min-h-[80vh] tablet:min-h-[80vh] desktop:min-h-[90vh]"
    >
      <h2
        class="w-full h-full text-[#bbd2fe] text-[148px] tablet:text-[21cqw] text-center font-semibold flex items-center justify-center -rotate-90 tablet:rotate-0"
      >
        <span>MADA</span>
      </h2>
    </div>
    {% include santa-fe.html %}
  </div>
  <div class="floating-images h-full absolute top-0 left-0 right-0 bottom-0">
    <div
      class="building w-[40%] max-w-[555px] min-w-[314px] left-0 top-36 tablet:left-auto tablet:right-9 tablet:top-9 absolute blend-bg"
    >
      <img src="{{ '/assets/media/building.png' | relative_url }}" alt="TKTK" />
    </div>
    <div
      class="welder w-[32%] max-w-[314px] min-w-[116px] top-[50%] tablet:top-[28%] right-0 tablet:right-auto tablet:left-9 absolute blend-bg"
    >
      <img src="{{ '/assets/media/welder.png' | relative_url }}" alt="TKTK" />
    </div>
    <div
      class="studio w-[32%] max-w-[277px] min-w-[184px] bottom-[25%] tablet:bottom-[10%] left-0 tablet:left-auto tablet:right-9 tablet:bottom-9 absolute blend-bg"
    >
      <img src="{{ '/assets/media/studio.png' | relative_url }}" alt="TKTK" />
    </div>
  </div>
</header>
