<section class="bg-[#F9F2EA]">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-12">
        <div class="space-y-14">
          <h3 class="font-mono text-lg">A Shared Mission</h3>
          <p class="text-4xl font-black leading-snug">
            We aim to enrich the Santa Fe community by cultivating shared
            creative spaces that amplify underrepresented voices while fostering
            equity, unity, and belonging.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
