<section
  id="slides"
  class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 bg-[#000000] text-white"
>
  <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
    <div class="col-span-4 tablet:col-span-12">
      <div class="space-y-8">
        <h3 class="font-black text-body-bold-mobile tablet:text-body-bold">
          Listening to Community Needs
        </h3>
        <div class="space-y-6">
          <p class="font-mono text-caption-mobile tablet:text-caption">
            “Economic factors like housing and studio space make it difficult
            for young artists to thrive. MADA can address these issues by
            providing affordable workspace and fostering a creative community.”
          </p>
          <cite class="font-mono text-caption-mobile tablet:text-caption"
            >— MADA Member
          </cite>
        </div>
      </div>
    </div>
  </div>
</section>
