<section class="vision py-0">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-6">
        <div class="px-6 py-8">
          <p class="text-xs font-normal leading-snug">
            Photo credit: Name to go here with licensing and approval
          </p>
        </div>
      </div>
      <div class="col-span-4 tablet:col-span-6">
        <div class="px-12 py-8">
          <p class="text-xl font-normal leading-snug">
            By reaching our initial 2024 fundraising goal of $5m, the city of
            Santa Fe will approve Phase 1 renovations of the disused Visual Arts
            Center Complex, created by reknowned spanish architect, Legoretto,
            located at the Midtown Arts District site. Explore the programmatic
            and architectural vision, developed by our MADA Alliance member,
            <a href="#">MASS Design Group</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
