<section class="vision p-0">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-6 bg-[#F9F2EA]">
        <img
          class="object-cover h-full w-full"
          src="{{ '/assets/media/image.png' | relative_url }}"
        />
      </div>
      <div class="col-span-4 tablet:col-span-6 bg-[#FA8368]">
        <div class="copy space-y-8">
          <p>
            By reaching our initial 2024 fundraising goal of $5m, the city of
            Santa Fe will approve Phase 1 renovations of the disused Visual Arts
            Center Complex, created by renowned Mexico City architect, Ricardo
            Legorreta, located at the Midtown Arts District site.
          </p>
          <p class="font-mono">
            Explore the programmatic and architectural vision, developed by our
            MADA Alliance member, MASS Design Group.
          </p>
          <a href="#" class="btn btn-ghost font-mono inline-block"
            >Learn more</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
