<section class="vision p-0">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div
        class="col-span-4 tablet:col-span-12 tablet-lg:col-span-6 bg-[#F9F2EA]"
      >
        <img
          class="object-cover h-full w-full"
          src="{{ '/assets/media/image.png' | relative_url }}"
        />
      </div>
      <div
        class="col-span-4 tablet:col-span-12 tablet-lg:col-span-6 desktop:col-start-7 bg-[#FA8368]"
      >
        <div
          class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 space-y-8"
        >
          <p class="text-2xl tablet:leading-[37.68px]">
            By reaching our initial 2024 fundraising goal of $5m, the city of
            Santa Fe will approve Phase 1 renovations of the disused Visual Arts
            Center Complex, created by renowned Mexico City architect, Ricardo
            Legorreta, located at the Midtown Arts District site.
          </p>
          <p class="font-mono text-lg">
            Explore the programmatic and architectural vision, developed by our
            MADA Alliance member, MASS Design Group.
          </p>
          <a
            href="#"
            class="btn btn-ghost font-mono inline-block w-full tablet:w-auto"
            >Learn more</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
