/* _sass/_custom.scss */

body {
  color: #000;
}

a {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

.btn {
  padding: 15px 5.5rem;
  font-size: 18px;
  font-weight: 300;
  line-height: 30.78px;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.btn-ghost {
  padding: 0;
  text-align: left;
  font-weight: 700;
  text-decoration: underline;
}
.btn-dark {
  background: #000000;
  color: #ffffff;
}
.btn-pink {
  background: #fa8368;
  color: #000000;
}

header {
  z-index: 999;
  h1 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.02em;
    a {
      text-decoration: none;
    }
  }
}

.mada {
  background-color: #fa8368;
  h2 {
    text-align: center;
    font-size: 300px;
    line-height: 366.3px;
    font-weight: 600;
    color: #bbd2fe;
  }
  #santafe {
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 30.78px;
      letter-spacing: 0.06em;
      text-align: center;
    }
  }
}

section {
  background-color: #efefef;
}

.accordion {
  .card {
    border-top: 1px #000 solid;
    cursor: pointer;
    &:hover {
      h4 span {
        border-bottom: 1px #000 solid;
      }
    }
    div {
      padding: 0 115px;
    }

    p {
      margin: 1rem 0 0.5rem 0;
      width: 90%;
      display: none;
      font-family: DM Mono;
      font-size: 18px;
      font-weight: 400;
      line-height: 30.78px;
      letter-spacing: 0.06em;
      text-align: left;
    }
    h4 {
      font-family: Libre Franklin;
      font-size: 24px;
      font-weight: 400;
      line-height: 37.68px;
      letter-spacing: 0.02em;
      text-align: left;
    }
  }
  .card::before {
    content: "+";
    float: left;
    //styleName: Body Regular;
    font-family: Libre Franklin;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: right;
  }
  .card.active {
    p {
      width: 90%;
      display: block;
    }
  }
}

.donate {
  p span {
    display: block;
    color: #fa8368;
  }
}

.join {
  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 37.68px;
    letter-spacing: 0.02em;
  }
}

.vision {
  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 37.68px;
    letter-spacing: 0.02em;
  }
  p.font-mono {
    font-size: 18px;
    font-weight: 400;
    line-height: 30.78px;
    letter-spacing: 0.06em;
  }
}

#slides {
  .slide-text {
    .nav {
      .arrow {
        cursor: pointer;
      }
    }
    h4 {
      font-size: 24px;
      font-weight: 900;
      line-height: 37.92px;
      letter-spacing: 0.02em;
    }
    p,
    cite {
      font-size: 18px;
      font-weight: 400;
      line-height: 30.78px;
      letter-spacing: 0.06em;
    }
    cite {
      display: block;
      font-style: normal;
    }
  }
}

#goals {
  .text-4xl {
    span {
      color: #fa8368;
      display: block;
    }
  }
  .goal {
    border-top: 1px #000 solid;
    .number {
      font-size: 24px;
      font-weight: 900;
      line-height: 37.92px;
      letter-spacing: 0.02em;
      color: #fa8368;
    }
    h4 {
      padding: 0 0 0.75rem 0;
      font-size: 24px;
      font-weight: 900;
      line-height: 37.92px;
      letter-spacing: 0.02em;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 30.78px;
      letter-spacing: 0.06em;
    }
    img {
      width: 193px;
      height: 221px;
    }
  }
}

#focus {
}

.footer {
  p span {
    color: #bbd2fe;
  }
  p:first-child span {
    color: #fa8368;
  }
  .madalliance {
    font-size: 200px;
    font-weight: 500;
    color: #fa8368;
    span {
      color: #bbd2fe;
    }
  }
}
