<div class="">
  {% for item in site.data.team %}
  <div
    class="card py-8 border-t-[1px] border-black cursor-pointer tablet-lg:py-9 group relative"
  >
    <div class="space-y-6 tablet-lg:space-y-8">
      <div class="flex flex-col space-y-3">
        <div class="flex space-x-6">
          <img
            src="https://placecats.com/millie/150/150"
            alt="{{ item.name }}"
            class="w-20 h-20 rounded-full"
          />
          <div class="flex flex-col space-y-3">
            <p class="text-2xs tablet-lg:text-sm font-mono">{{ item.bio }}</p>
            <p class="flex space-x-3">
              <a
                href="mailto:{{ item.email }}"
                class="text-2xs tablet-lg:text-xs font-mono text-blue-600 uppercase"
              >
                Email
              </a>
              <a
                href="{{ item.linkedin }}"
                class="text-2xs tablet-lg:text-xs font-mono text-blue-600 uppercase"
              >
                LinkedIn
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
