<section id="vision" class="p-0">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div
        class="col-span-4 tablet:col-span-12 tablet-lg:col-span-6 bg-[#F9F2EA]"
      >
        <img
          class="object-cover h-full w-full"
          src="{{ '/assets/media/image.png' | relative_url }}"
        />
      </div>
      <div
        class="col-span-4 tablet:col-span-12 tablet-lg:col-span-6 desktop:col-start-7 bg-[#FA8368]"
      >
        <div
          class="py-24 px-5 tablet:py-24 tablet:px-16 desktop:py-24 desktop:px-32 desktop-lg:py-32 desktop-lg:px-40 space-y-8"
        >
          <p class="text-body-mobile tablet:text-body">
            Our initial 2024 fundraising goal is $5m. By reaching this and other
            feasibility goals, we will work with the City of Santa Fe to
            transform four acres of the campus now owned by the City of Santa
            Fe, repurposing 50,000 sq ft of striking buildings by Ricardo
            Legoretta and the military barracks.
          </p>
          <p class="font-mono text-caption-mobile tablet:text-caption">
            The programmatic and architectural vision has been developed by our
            MADA Alliance member,
            <a href="https://massdesigngroup.org/">MASS Design Group</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
