---
layout: default
---

{% include header.html %}

<section class="mada py-40">
  <div class="max-w-full px-0">
    <div
      class="grid grid-cols-4 tablet:grid-cols-12 gap-4 desktop:gap-6 gap-y-4"
    >
      <div class="col-span-4 tablet:col-span-12">
        <h2 class="mada">MADA</h2>
      </div>
    </div>
  </div>
</section>

<section class="py-0">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-6 bg-[#BBD2FE]">
        <div class="px-6 py-16">
          <h3 class="text-xl font-bold pb-6">What is MADA?</h3>
          <p class="text-4xl font-normal leading-snug">
            The MADA Alliance is an experimental model for self-governance,
            co-programming, and resource-sharing between cultural communities
            located in Santa Fe’s emerging creative nexus: Midtown Arts
            District.
          </p>
        </div>
      </div>
      <div class="col-span-4 tablet:col-span-6 bg-[#F9F2EA]">
        <div class="px-12 py-16">{% include alliance-members.html %}</div>
      </div>
    </div>
  </div>
</section>

{% include donate.html %} {% include vision.html %}

<section class="py-0">
  <div class="max-w-full px-0">
    <div class="grid grid-cols-4 tablet:grid-cols-12 gap-0">
      <div class="col-span-4 tablet:col-span-6 bg-[#F9F2EA]">
        <div class="px-6 py-16">
          <h3 class="text-xl font-bold pb-6">A Shared Mission</h3>
          <p class="text-4xl font-normal leading-snug">
            We aim to enrich the Santa Fe community by cultivating shared
            creative spaces that amplify underrepresented voices while fostering
            equity, unity, and belonging.
          </p>

          <p class="mt-10 w-11/12 text-xl font-normal leading-snug">
            This vision stems from extensive community engagement and
            collaboration spanning five years, where local residents and artists
            have contributed ideas, hopes, and recommendations that underpin our
            ambitions.
          </p>
        </div>
      </div>
      <div class="col-span-4 tablet:col-span-6 bg-[#FA8368]">
        <div class="px-12 py-16">TKTK</div>
      </div>
    </div>
  </div>
</section>

{% include goals.html %}
