---
layout: default
---

{% include homepage/mada.html %}
<div class="text-[#fa8368] py-2">{% include common/nav.html %}</div>
{% include homepage/what-is-mada.html %} {% include homepage/partners.html %} {%
include homepage/email-signup.html %} {% include homepage/vision.html %} {%
include homepage/mission.html %} {% include homepage/community-needs.html %} {%
include homepage/survey.html %} {% include homepage/impact-goals.html %} {%
include homepage/focus.html %} {% include homepage/subscribe.html %}
