---
layout: default
---

{% include common/header.html %}

<main class="py-24 tablet-lg:py-24 bg-[#F9F2EA]">
  <div class="px-5 tablet-lg:px-16 desktop:px-32 desktop-lg:px-40">
    <div class="space-y-12 tablet-lg:space-y-16">
      <h1 class="font-mono text-2xs tablet-lg:text-sm uppercase">
        {{ page.title }}
      </h1>
      {% if page.deck %}
      <p class="text-md tablet-lg:text-xl font-black">{{ page.deck }}</p>

      <div class="content text-xs tablet-lg:text-md space-y-8">
        {{ content }}
      </div>

      {% endif %} {% if page.nav %}
      <div class="grid grid-cols-4 tablet-lg:grid-cols-12 gap-0 gap-x-6">
        <div class="col-span-4 tablet-lg:col-span-3">
          <ul
            class="flex-none sticky top-16 pt-20 pb-12 tablet-lg:py-6 space-x-3 tablet-lg:space-x-0 tablet-lg:space-y-3 flex flex-row tablet-lg:flex-col overflow-x-auto no-scrollbar"
          >
            {% for item in page.nav %}
            <li>
              <a
                href="#{{ item.slug }}"
                class="text-xs font-mono uppercase whitespace-nowrap"
                >{{ item.text }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-span-4 tablet-lg:col-span-9">
          <div class="space-y-24">
            {% for section in page.nav %} {% assign page_name = page.name |
            remove: '.md' %} {% assign section_file = site.sections | where:
            "section_id", section.slug | where: "parent", page_name | first %}
            {% if section_file %}
            <section id="{{ section.slug }}" class="scroll-mt-24">
              <h2 class="text-md tablet-lg:text-xl font-black mb-9">
                {{ section.text }}
              </h2>
              <div class="content text-xs tablet-lg:text-md space-y-8">
                {{ section_file.content | markdownify }}
              </div>
            </section>
            {% endif %} {% endfor %}
          </div>
        </div>

        {% endif %}
      </div>
    </div>
  </div>
</main>

{% include email.html %}
